<mat-toolbar color = "primary" class="mat-elevation-z4">
    <span>Registration</span>
 </mat-toolbar>
 <mat-card class="my-card">
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input  matInput  placeholder="Email" formControlName ="Email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input type= "password"  matInput  placeholder="Password" formControlName="Password" required>
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Confirm Password</mat-label>
               <input type= "password"  matInput  placeholder="Password" formControlName="ConfirmPassword" required>
            </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Register</button>
    </mat-card-actions>
   </form>
 </mat-card>