<mat-card class="my-card">
<div class="mat-title">Overview</div>
<p> Mapcraft makes it easy for users to select and edit an image of their choice
to share it with others by sending the url that is generated when editing an
image. It uses the OpenLayers API to convert the chosen image to be able to use
the mapping functions of the API for editing.</p>
<br><br>
<div class="mat-title">Quick start</div>
<div class="row">
    <div class="column1">
        <button mat-raised-button color="primary" routerLink= "/register">Register now</button>
        <p>To use MapCraft, you will have to be logged in. Create an account
            now by clicking the link above.</p>
    </div>
    <div class="column1">
        <button mat-raised-button color="primary" routerLink= "/map-builder">Create a new map</button>
        <p>Once logged in, you can select and upload an image to start editing!</p>
    </div>
    <div class="column1">
        <button mat-raised-button color="primary" routerLink= "/map-viewer">View someone else's map</button>
        <p>Viewing someone's map is as easy as pasting the map url created
            by the original editor.</p>
    </div>
</div>
<br><br>
<div class="mat-title">Features</div>
<div>
    
</div>




</mat-card>