<mat-card class="mat-elevation-z6">
    <br><br>
    <mat-card-title><p class="mat-h1" style="font-size: 2em;">MapCrafter</p></mat-card-title><br>
    <mat-card-subtitle><p style="font-size: 1.5em;">Map building made easy</p></mat-card-subtitle>
    <br>
</mat-card>

<mat-card class="my-card">
    <br><p>Mapcrafter makes it easy for users to select and edit an image of their choice
        and share it with others by simply sending the url that is generated when editing an
        image. MapCrafter utilizes the map-editing functions from the OpenLayers API for its features.
        <br><br><br><br><br><br>

    
        <div class="row">
            <div class="column">
                <mat-icon class="featureIcon1" color="accent">account_circle</mat-icon>
            </div>
            <div class="column">
                <p class="featureText">Login</p>
                <p>You can start your map building journey as soon as you log in. Dont have an account? Make one by registering.  </p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <p class="featureText">Build</p>
                <p>Start by uploading a background image. Be able to place markers, icons and textinformation onto your maps.  </p>
            </div>
            <div class="column">
                <mat-icon class="featureIcon2" color="accent">build</mat-icon>
            </div>
            
        </div>

        <div class="row">
            <div class="column">
                <mat-icon class="featureIcon1" color="accent">attach_file</mat-icon>
            </div>
            <div class="column">
                <p class="featureText">Share</p>
                <p>Be able to share your maps with the generated url-link given to you during editing.  </p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <p class="featureText">View</p>
                <p>See other people's created maps by pasting the map-url in "Map Viewer"  </p>
            </div>
            <div class="column">
                <mat-icon class="featureIcon2" color="accent">search</mat-icon>
            </div>
            
        </div>
    <div align="center">
        <button mat-raised-button color="primary" routerLink= "/register">Get Started</button>
    </div>
    
</mat-card>