<mat-toolbar color = "primary" class="mat-elevation-z4">
    <button mat-button routerLink= "/map-builder"><mat-icon>arrow_back</mat-icon>My Maps</button>
</mat-toolbar>
    
<div class="basic-container">
    <mat-grid-list cols="6" [rowHeight]="rowHeight" gutterSize = "16px">
    
        <mat-grid-tile [colspan]="mapColSpan">
            <div class="componentcontainer">
                <app-layer-editor></app-layer-editor>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="toolColSpan" [rowspan] ="toolRowSpan">
            <div class="componentcontainer">
                <app-toolbar></app-toolbar>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="toolColSpan" [rowspan] ="toolRowSpan">
            <div class="componentcontainer">
                <app-layers-list></app-layers-list>
            </div>
        </mat-grid-tile>
        
      </mat-grid-list>
</div>