<div class="basic-container">
    <mat-nav-list>
    <mat-grid-list cols="4" rowHeight="1:1" gutterSize = "8px">
    
        <mat-grid-tile [colspan]="1">
            <div class="componentcontainer" >
                <mat-list-item class="listcontainer" (click)="addClick()" [ngClass]="{'selected' : options.getAdd()}" matTooltip="Add"><mat-icon class="center">add</mat-icon></mat-list-item>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="1">
            <div class="componentcontainer" >
                <mat-list-item class="listcontainer" (click)="removeClick()" [ngClass]="{'selected' : options.getRemove()}" matTooltip="Remove"><mat-icon class="center">remove</mat-icon></mat-list-item>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="1">
            <div class="componentcontainer" >
                <mat-list-item class="listcontainer" (click)="editClick()" [ngClass]="{'selected' : options.getEdit()}" matTooltip="Edit"><mat-icon class="center">edit</mat-icon></mat-list-item>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
            <div class="componentcontainer" >
                <mat-list-item class="listcontainer" (click)="settingsClick()" [ngClass]="{'selected' : options.getSettings()}" matTooltip="Map settings"><mat-icon class="center">map</mat-icon></mat-list-item>
            </div>
        </mat-grid-tile>
        
      </mat-grid-list>
    </mat-nav-list>
</div>

<mat-divider></mat-divider>

<div class="basic-container" *ngIf="options.getAdd() || options.getEdit()">
    <form #markerForm="ngForm">

        <div class="formfield">
            <mat-form-field appearance = "outline" class="listcontainer">
                <mat-label>Select a layer to link to</mat-label>
                <mat-select [(value)]="options.marker.layerLinkId">
                  <mat-option>None</mat-option>
                  <mat-option value={{layer.id}} *ngFor="let layer of layers | async">{{layer.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="formfield">
            <mat-form-field appearance = "outline" class="listcontainer">
                <mat-label>Marker image url</mat-label>
                <input matInput type ="text" [(ngModel)]="options.marker.imageUrl" (ngModelChange)="pushOptions()" name ="imageUrl">
                <mat-icon matSuffix>add_photo_alternate</mat-icon>
          </mat-form-field>
        </div>

        <div class="formfield">
            <mat-form-field appearance = "outline" class="listcontainer">
                <mat-label>Marker hover text</mat-label>
                <input matInput type ="text" [(ngModel)]="options.marker.hoverText" (ngModelChange)="pushOptions()" name ="hoverText">
                <mat-icon matSuffix>short_text</mat-icon>
          </mat-form-field>
        </div>
        
    </form> 
</div>

<div class="basic-container" *ngIf="options.getSettings()">
    <form #settingsForm="ngForm">

        <div class="formfield">
            <mat-form-field appearance = "outline" class="listcontainer">
                <mat-label>Select a layer to start the map on</mat-label>
                <mat-select [(ngModel)]="primaryLayerId" (ngModelChange)="updatePrimaryLayer()" name ="layerId" [compareWith]="compareFn">
                  <mat-option value={{layer.id}} *ngFor="let layer of layers | async">{{layer.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        
    </form> 
</div>
