<mat-toolbar color = "primary" class="mat-elevation-z6">
  <span>Map Viewer</span>
</mat-toolbar>

<div class="center">
<mat-form-field class="form" appearance="outline">
  <mat-label>Paste your map code here</mat-label>
  <input matInput placeholder="Placeholder">
  <button  mat-icon-button matSuffix><mat-icon>send</mat-icon></button>
</mat-form-field>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography"><b>OR</b></div>
  <div class="line"><mat-divider></mat-divider></div>
</div>


<mat-form-field class="form2" appearance="outline" *ngIf="checkAuthenticated()">
  <mat-label>Select one of your maps</mat-label>
  <mat-select>
    <mat-option *ngFor="let map of maps | async" [routerLink]="['/map-viewer-shell']" [queryParams]="{mapId: map.id}">{{map.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="form2" appearance="outline" *ngIf="!checkAuthenticated()">
  <mat-label>Login to select one of your maps</mat-label>
  <mat-select [disabled] = true></mat-select>
</mat-form-field>
</div>
