<mat-list>
    <mat-list-item>
        <h2>{{mapName + " - " + layerName}}</h2>
    </mat-list-item>
</mat-list>
    
    <mat-nav-list>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let style of styles | async">
            <mat-divider></mat-divider>
            
            <a matLine (click)="styleClick(style)" [ngClass]="{'hidden': styleIsHidden(style)}">{{style.name}}</a>
            <img [src]="style.imageUrl">
        </mat-list-item>
    </mat-nav-list>

    <button mat-raised-button color="primary" class="legendbutton" (click)="hideAll()" *ngIf="!allAreHidden()">Hide All</button>
    <button mat-raised-button color="primary" class="legendbutton" (click)="showAll()" *ngIf="allAreHidden()">Show All</button>
    