<div *ngIf="loadingLayer">
    <div class ="center">
        <mat-spinner></mat-spinner>
    </div>
</div>

<div *ngIf="error">
    <div class ="center">
        <h3>An error occurred :(</h3>
    </div>
</div>

<div *ngIf="!loadingLayer && !error">
    <aol-map [width]="'100%'" [height]="'100%'">
        <aol-interaction-default>
            
            <aol-layer-image [opacity]="opacity" [extent]="extent">
              <aol-source-imagestatic [url]=this.currentLayer.imageUrl [projection]="projection" [imageExtent]="extent">
              </aol-source-imagestatic>
            </aol-layer-image>
            
        <aol-layer-vector [extent]="extent">
            
            <aol-source-vector #sourceVector>    
    
                <div *ngFor="let marker of markers">
                        <aol-feature [id]="marker.id" *ngIf="!checkhidden(marker.markerStyle)">
                            <aol-geometry-point >
                                <aol-coordinate [x]="marker.x" [y]="marker.y" [srid] = "'EPSG:3857'"></aol-coordinate>
                            </aol-geometry-point>
                            <aol-style *ngIf="marker.markerStyle.imageUrl !=undefined && marker.markerStyle.imageUrl !='' ">
                                <aol-style-icon [src]="marker.markerStyle.imageUrl" ></aol-style-icon>
                        </aol-style>
                        </aol-feature>
        
                        <aol-overlay>
                            <aol-coordinate [x]="marker.x" [y]="marker.y" [srid] = "'EPSG:3857'"></aol-coordinate>
                            <aol-content>
                                <div (click)="clickMarker(marker)" class="my-overlay-class" [ngStyle]="{'width': ''+marker.markerStyle.width+'px', 'height': ''+marker.markerStyle.height+'px'}" matTooltip="{{marker.hoverText}}"> </div>
                            </aol-content>
                        </aol-overlay>
                </div>
    
            </aol-source-vector>   
    
        </aol-layer-vector>
    
    </aol-interaction-default>
        <aol-view [projection]="projection" [zoom]="zoom" [center]="center"></aol-view>   
    </aol-map>
</div>