<mat-toolbar color = "warn" *ngIf="fileError">
    <span>Failed to upload File.</span>
  </mat-toolbar>
  
  <div *ngIf="needImg()" class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)"/>
    <div class ="center">
        <h3>Drag and drop your background image here</h3>
        <h3>or</h3>
        <label for="fileDropRef"><button mat-raised-button color="primary">Browse for file</button></label>
    </div>
</div>

<div *ngIf="needLayer()" class="dropzone">
    <div class ="center">
        <h3>Please select a layer to start editing.</h3>
    </div>
</div>

<div *ngIf="!needLayer() && !needImg()" class ="dropzone">
    <aol-map [width]="'100%'" [height]="'100%'">
    <aol-interaction-default>
        <aol-view [projection]="projection" [zoom]="5" [center]="[512, 484]">
        </aol-view>
        <aol-layer-image [opacity]="opacity" [extent]="extent">
          <aol-source-imagestatic [url]="'https://imgs.xkcd.com/comics/online_communities.png'" [projection]="projection" [imageExtent]="extent">
          </aol-source-imagestatic>
        </aol-layer-image>
    </aol-interaction-default>
    </aol-map>
</div>

