<mat-toolbar color = "warn" *ngIf="fileError">
    <span>Failed to upload File.</span>
  </mat-toolbar>
  
  <div *ngIf="needImg()" class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)"/>
    <div class ="center">
        <h3>Drag and drop your background image here</h3>
        <h3>or</h3>
        <label for="fileDropRef"><button mat-raised-button color="primary">Browse for file</button></label>
    </div>
</div>

<div *ngIf="needLayer()" class="dropzone">
    <div class ="center">
        <h3>Please select a layer to start editing.</h3>
    </div>
</div>

<div *ngIf="!needLayer() && !needImg()" class ="dropzone">
    <aol-map [width]="'100%'" [height]="'100%'" (onClick) = "onClick($event)">
    <aol-interaction-default>
        
        <aol-layer-image [opacity]="opacity" [extent]="extent">
          <aol-source-imagestatic [url]=this.currLayer.imageUrl [projection]="projection" [imageExtent]="extent">
          </aol-source-imagestatic>
        </aol-layer-image>
        
    <aol-layer-vector [extent]="extent">
        
        <aol-source-vector #sourceVector>    

            <div *ngFor="let marker of Markers | async">
                <aol-feature [id]="marker.id" >
                    <aol-geometry-point>
                        <aol-coordinate [x]="marker.x" [y]="marker.y" [srid] = "'EPSG:3857'"></aol-coordinate>
                    </aol-geometry-point>
                    <aol-style *ngIf="marker.markerStyle.imageUrl !=undefined && marker.markerStyle.imageUrl !='' ">
                        <aol-style-icon [src]="marker.markerStyle.imageUrl" ></aol-style-icon>
                </aol-style>
                </aol-feature>

                <aol-overlay>
                    <aol-coordinate [x]="marker.x" [y]="marker.y" [srid] = "'EPSG:3857'"></aol-coordinate>
                    <aol-content>
                        <div class="my-overlay-class" [ngStyle]="{'width': ''+marker.markerStyle.width+'px', 'height': ''+marker.markerStyle.height+'px'}" matTooltip="{{marker.hoverText}}"> </div>
                    </aol-content>
                </aol-overlay>
            </div>
                

        </aol-source-vector>   

    </aol-layer-vector>

</aol-interaction-default>
    <aol-view [projection]="projection" [zoom]="zoom" [center]="center"></aol-view>   
    </aol-map>
</div>

